In [1]:
import pandas as pd

In [67]:
path=r'D:\PG DS - Machine Learning\E-Books From LMS\Demo Datasets\Lesson 4'
data=pd.read_csv(path+r'\train.csv')

In [68]:
data=pd.read_csv('D:/PG DS - Machine Learning/E-Books From LMS/Demo Datasets/Lesson 4/train.csv')

In [70]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [71]:
data.head() #to displays the first 5 records

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
data.head(3) #if you want to display certain number of records

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [73]:
data.tail() #displays last 5 record

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [74]:
type(data)

pandas.core.frame.DataFrame

In [46]:
# data.to_csv("test.csv") ---> to save the data in any format

In [47]:
# if you want to read any other delimiter separated data then??
# data=pd.read_csv(path+r'\train.csv',sep='#')

In [75]:
pwd()

'C:\\Users\\Divya J'

In [76]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 6055-66BA

 Directory of C:\Users\Divya J

27-04-2022  13:01    <DIR>          .
27-04-2022  13:01    <DIR>          ..
01-03-2021  09:33               145 .appletviewer
01-02-2022  23:08    <DIR>          .cache
16-03-2022  15:53    <DIR>          .conda
01-02-2022  23:09    <DIR>          .eclipse
26-04-2022  22:56    <DIR>          .ipynb_checkpoints
15-02-2022  00:37    <DIR>          .ipython
15-02-2022  00:52    <DIR>          .jupyter
12-03-2022  20:25    <DIR>          .matplotlib
05-02-2022  13:29    <DIR>          .p2
04-09-2021  12:36               616 .xmaximarc
13-03-2022  13:32           350,855 05_Feb_2022 - Titanic Data Analysis updated.ipynb
14-04-2022  12:29            88,661 1.Introduction to Python Basics .ipynb
17-03-2022  23:20            14,762 13.MACHINE LEARNING.ipynb
09-03-2022  10:18         2,985,931 2.Control flow statements in Python.ipynb
11-03-2022  18:52            56,625 22-Jan-2022.ipynb
11-03-2022  18:41            27,102 23-Jan-2022- NumPy Basics.ipynb
11-03-2022  18:53            22,221 23-Jan-2022.ipynb
09-03-2022  21:53           131,694 3.Data Structures in Python.ipynb
16-04-2022  22:02           200,454 30-Jan-2022 - Pandas Data Analyses(1).ipynb
16-04-2022  22:01            55,252 30-Jan-2022 - Pandas Data Analyses(1)-Copy1.ipynb
16-04-2022  21:59           134,111 30-Jan-2022 - Pandas Data Analyses.ipynb
10-03-2022  20:18           106,958 4.In-Built Modules in Python.ipynb
11-03-2022  19:45            58,101 5. NumPy Deep Dive.ipynb
11-03-2022  19:43            46,556 5. NumPy Practice continuation.ipynb
11-03-2022  19:43            70,332 5.NumPy Library (for arrays in Python).ipynb
12-03-2022  23:42           301,176 6.Pandas Library (for Data Processing).ipynb
14-03-2022  22:01         1,281,560 7.Matplotlib Library ( for Visualization).ipynb
15-03-2022  15:33         1,952,278 8.Seaborn Library (for Visualization).ipynb
25-03-2022  17:51            33,839 9.SciPy Library( for statistics).ipynb
02-03-2021  09:22               419 Backward interpolation.sce
23-04-2022  20:56            35,301 BaggingClassifiers (2).ipynb
23-04-2022  20:29            44,513 BaggingClassifiers.ipynb
23-04-2022  20:52            26,639 BaggingClassifiers-Copy1.ipynb
16-03-2022  18:43            89,858 Basic Python.ipynb
16-03-2022  14:26           253,018 BOW_Updated.ipynb
16-03-2022  14:13            11,607 BS4_1.ipynb
16-03-2022  14:15             6,772 BS4_1-checkpoint.ipynb
16-03-2022  14:15            10,130 BS4_2.ipynb
12-04-2022  16:45    <DIR>          cache
23-03-2022  19:48           885,635 California Housing Price Prediction.ipynb
02-03-2021  07:12               381 Commutative ring 1.sce
22-12-2020  12:07    <DIR>          Contacts
15-02-2022  11:18    <DIR>          Desktop
27-04-2022  11:56    <DIR>          Documents
13-03-2022  00:22           198,405 Downloaded_CTCC1.ipynb
13-03-2022  00:07           217,959 Downloaded_P1.ipynb
27-04-2022  09:29    <DIR>          Downloads
15-04-2022  17:00             1,289 Drive Links.ipynb
01-02-2022  23:16    <DIR>          eclipse-workspace
11-03-2022  19:52           137,466 Ex 1. SF Salaries Exercise.ipynb
11-03-2022  19:51            49,263 Ex 2. Ecommerce Purchases Exercise-Solutions .ipynb
22-12-2020  12:07    <DIR>          Favorites
13-03-2022  14:05                 0 filename.pickle
22-03-2022  12:52           480,198 Housing-Prices-with-California-Housing-Dataset.ipynb
27-04-2022  11:55             2,376 html_data{i}.csv
27-04-2022  11:55             4,272 html_data0.csv
27-04-2022  11:55             2,412 html_data1.csv
27-04-2022  11:55             4,113 html_data2.csv
27-04-2022  11:55             2,684 html_data3.csv
27-04-2022  11:55             3,210 html_data4.csv
27-04-2022  11:55             2,376 html_data5.csv
09-04-2022  15:00           311,738 Hypothesis_Testing.ipynb
25-02-2022  20:52            21,748 IndustryMasterClassReturnRiskPandas (1).ipynb
19-04-2022  22:49            74,474 Ineuron(Introduction to NumPy).ipynb
27-04-2022  13:01           102,591 Ineuron(Pandas).ipynb
02-03-2021  09:32               327 Lagrange's interpolation.sce
02-03-2021  10:26               396 Lagrange's interpolation2.sce
10-04-2022  20:21           133,868 linear_regression (1).ipynb
24-12-2021  13:10    <DIR>          Links
21-02-2022  19:46             7,884 Markdown in Jupyter  notebook.ipynb
19-12-2020  16:59    <DIR>          maxima
22-12-2020  12:07    <DIR>          Music
26-03-2022  16:32            15,159 NumPy Assignment 01.ipynb
26-03-2022  17:44             5,495 NumPy Assignment 02.ipynb
05-03-2021  21:49    <DIR>          Oracle
09-03-2022  17:20    <DIR>          Pictures
27-04-2022  11:05             2,729 Players_data.csv
12-04-2022  16:34           163,001 PolynomialRegression-Copy1.ipynb
14-07-2021  10:53    <JUNCTION>     Program Files (x86) [C:\Users\Divya J\Program Files (x86)]
13-07-2021  13:23    <JUNCTION>     Program Files(x86) [C:\Users\Divya J\Program Files(x86)]
16-03-2022  18:28           555,185 Project1_Comcast Telecom Consumer Complaints.ipynb
21-03-2022  22:58           465,706 Project2_California Housing Price Prediction.ipynb
19-04-2022  22:50            41,041 Python Basics (Practice).ipynb
23-02-2022  10:50             6,727 Python Language Fundamentals.ipynb
10-03-2022  20:05               108 PyWhatKit_DB.txt
16-04-2022  20:24         1,778,818 Regression (On Boston data).ipynb
21-03-2022  23:12           330,338 Regression Project-End to end (1).ipynb
27-04-2022  13:00             5,808 result1.csv
02-03-2021  07:49               329 Ring with or without zero divisors.sce
02-03-2021  07:22               289 Ring with unity.sce
22-12-2020  12:07    <DIR>          Saved Games
27-03-2022  00:05             3,350 SciPy Assignment_01.ipynb
27-03-2022  00:15             3,321 SciPy Assignment_02.ipynb
09-04-2022  14:49    <DIR>          seaborn-data
15-04-2022  19:33    <DIR>          Searches
12-04-2022  17:42            21,663 Self leaning (Machine Learning).ipynb
08-04-2022  22:52         1,853,115 STATISTICS.ipynb
03-04-2022  21:02            19,352 Supervised Learning.ipynb
14-03-2022  10:15         3,528,181 Titanic Data Analysis.html
14-03-2022  10:22           937,165 Titanic Data Sweet Report.html
22-02-2022  22:56             9,609 Untitled.ipynb
03-03-2022  23:48               588 Untitled1.ipynb
16-03-2022  16:45           532,517 Untitled2.ipynb
16-04-2022  16:35             1,237 Untitled3.ipynb
26-04-2022  23:01             8,585 Untitled4.ipynb
22-12-2020  12:07    <DIR>          Videos
28-03-2022  00:23           138,243 Week1(27th mar 2020)_ML_prerequisites.ipynb
16-04-2022  21:53           145,008 Week2_Data processing_2 (2).ipynb
16-04-2022  21:51           156,342 Week2_Data_PreProcessing1 (1).ipynb
12-04-2022  13:11           115,698 Week3_Assignment_SimpleLinearRegression.ipynb
10-04-2022  19:01           151,119 Week3_linear_regression (1).ipynb
12-04-2022  13:26           144,050 Week3_MLR(On adding random features).ipynb
14-04-2022  19:34            75,561 Week3_MultipleLinearRegression.ipynb
12-04-2022  16:54           101,906 Week3_RegularizedLinearModels (1) (1).ipynb
11-04-2022  21:49            97,711 Week3_SimpleLinearRegression (2).ipynb
17-04-2022  21:10             5,882 Week4_Analysis on Breast_Cancer dataset.ipynb
17-04-2022  19:45            93,310 Week4_Feature_Engineering (2).ipynb
16-04-2022  21:26            23,448 Week4_LogisticRegression.ipynb
17-04-2022  21:00            12,090 Week4_PCA (1).ipynb
17-04-2022  21:01            49,239 Week4_Titanic_withScaling.ipynb
17-04-2022  19:59           130,401 Week4-Logistic Regression On Titanic dataset.ipynb
              95 File(s)     22,771,975 bytes
              28 Dir(s)  78,275,862,528 bytes free

In [77]:
df=pd.read_csv(path+r'\train.csv',header=None) #when we dont want the column names to  be displayed 
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [78]:
#when we  want to give our own column names
df=pd.read_csv(path+r'\train.csv',header=None,names=['a','b','c','d','e','f','g','h','i','j','k','l'])
df

,a,b,c,d,e,f,g,h,i,j,k,l
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [79]:
df=pd.read_csv(path+r'\train.csv',header=None,names=['a','b','c','d','e','f','g','h','i','j','k','l'],skiprows=[0,2,3],
              na_values=[1])
df.head()

,a,b,c,d,e,f,g,h,i,j,k,l
0,NaN,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,NaN,0.0,A/5 21171,7.2500,NaN,S
1,4.0,NaN,NaN,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,NaN,0.0,113803,53.1000,C123,S
2,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
3,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877,8.4583,NaN,Q
4,7.0,0.0,NaN,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.8625,E46,S

In [80]:
df=pd.read_csv(path+r'\train.csv',header=None,names=['a','b','c','d','e','f','g','h','i','j','k','l'],
              na_values=[1,'S','male']) #na_values is used to make some of the values as nan
df.head()

,a,b,c,d,e,f,g,h,i,j,k,l
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,NaN,0,3,"Braund, Mr. Owen Harris",NaN,22,NaN,0,A/5 21171,7.25,NaN,NaN
2,2,NaN,NaN,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,NaN,0,PC 17599,71.2833,C85,C
3,3,NaN,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,NaN
4,4,NaN,NaN,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,NaN,0,113803,53.1,C123,NaN

In [81]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [82]:
data.describe(percentiles=[0.25,0.5,0.75,0.9],include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
90%,802.000000,1.000000,3.000000,NaN,NaN,50.000000,1.000000,2.000000,NaN,77.958300,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [83]:
data.describe(include=['O'])

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [84]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [85]:
df.dtypes

a    object
b    object
c    object
d    object
e    object
f    object
g    object
h    object
i    object
j    object
k    object
l    object
dtype: object

In [86]:
df.describe()

,a,b,c,d,e,f,g,h,i,j,k,l
count,891,550,676,892,315,708,683,774,892,892,205,246
unique,891,2,3,892,2,88,7,7,682,249,148,3
top,PassengerId,0,3,Name,female,24,0,0,1601,8.05,C23 C25 C27,C
freq,1,549,491,1,314,30,608,678,7,43,4,168

In [87]:
df.to_csv("result1.csv",index=False,header=False,sep="#",columns=['a','b'])

In [88]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [89]:
type(data['PassengerId'])

pandas.core.series.Series

In [90]:
data[['PassengerId']]

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]

In [91]:
type(data[['PassengerId']])

pandas.core.frame.DataFrame

In [92]:
data['PassengerId','Survived'] # this gives error

KeyError: ('PassengerId', 'Survived')

In [93]:
data[['PassengerId','Survived']] #Extracting particular columns

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [94]:
df1=pd.read_excel('C:/Users/Divya J/Downloads/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Add your take on balances')
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,3) Add your Take on Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,Now that you have populated your instrument un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,The official transfer took place 2 days ago. Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,For further usage of the set holdings API call...,NaN,NaN,NaN,NaN,NaN,LUSID API Docs: Set Holdings,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Specify details of your holdings and add these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Scope:,Production-client,"To view a list of existing scopes, please s...",NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Portfolio code:,Pension-fund,"To view a list of existing Portfolios, plea...",NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Effective date:,2019-09-08 11:49:22.720000,The effective date refers to the date the h...,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Mandatory fields,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Instrument Id Types,Instrument Ids,Units,Cost,Currency,Portfolio Cost,Price,Purchase date,Settlement date
31,NaN,NaN,NaN,1.0,Figi,BBG000BF6B57,1050200,9147242,GBP,9147242,8.71,NaN,NaN
32,NaN,NaN,NaN,2.0,Figi,BBG006N6HZM7,100674,13085203.824,GBP,13085203.824,129.976,NaN,NaN
33,NaN,NaN,NaN,3.0,Figi,BBG0088JSC32,220456,23461147.976,GBP,23461147.976,106.421,NaN,NaN
34,NaN,NaN,NaN,4.0,Figi,BBG0000D14P3,97658,13522312.628,GBP,13522312.628,138.466,NaN,NaN
35,NaN,NaN,NaN,5.0,Figi,BBG001KKJLR4,320568,34677443.4,GBP,34677443.4,108.175,NaN,NaN
36,NaN,NaN,NaN,6.0,Figi,BBG000BKH1W6,2879200,6892804.8,GBP,6892804.8,2.394,NaN,NaN
37,NaN,NaN,NaN,7.0,Figi,BBG0065YWM39,4789100,28629239.8,GBP,28629239.8,5.978,NaN,NaN
38,NaN,NaN,NaN,8.0,Figi,BBG000D03XD4,6134800,101684310,GBP,101684310,16.575,NaN,NaN
39,NaN,NaN,NaN,9.0,Figi,BBG000BF46Y8,13456500,26058512.25,GBP,26058512.25,1.9365,NaN,NaN
40,NaN,NaN,NaN,10.0,Figi,BBG000BRVH05,8954300,40912196.7,GBP,40912196.7,4.569,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,Holdings set for portfolio code Pension-fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df2=pd.read_excel('C:/Users/Divya J/Downloads/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Create your instrument universe')
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,NaN,NaN,NaN,BBG0000D14P3,Active,LUID_OT7CC2W3,UKGiltTreasury_4.5_2034,imd_34534534,BBG0000D14P3,GB00B52WS153,UKT 4.5 09/07/34
67,NaN,NaN,NaN,NaN,BBG00FN3B5K8,Active,LUID_D8XILY4L,USTreasury_2.00_2021,imd_34535347,BBG00FN3B5K8,US912828U816,T 2 12/31/21
68,NaN,NaN,NaN,NaN,BBG000DQQNJ8,Active,LUID_MB2H1QYX,USTreasury_6.875_2025,imd_34534539,BBG000DQQNJ8,US912810EV62,T 6.875 08/15/25
69,NaN,NaN,NaN,NaN,BBG000BF6B57,Active,LUID_JTHZSWPE,WPP_LondonStockEx_WPP,imd_34536734,BBG000BF6B57,JE00B8KF9B49,WPP
70,NaN,NaN,NaN,NaN,BBG000BRVH05,Active,LUID_0E6TTHI3,Whitebread_LondonStockEx_WTB,imd_35349900,BBG000BRVH05,GB00B1KJJ408,WTB

In [98]:
d1=pd.read_excel(r'C:\Users\Divya J\Documents\Book1.xlsx',sheet_name=0)
d2=pd.read_excel(r'C:\Users\Divya J\Documents\Book1.xlsx',sheet_name=1)
d=pd.concat([d1,d2],axis=1,join='inner')
d

     Name Flag   Name Flag
0   Divya   ML  Divya  NLP
1   Divya   DL  Divya  NLP
2   Divya   ML  Divya  NLP
3   Divya   DL  Divya  NLP
4   Divya   ML  Divya  NLP
5   Sudha   DL  Sudha  NLP
6   Sudha   ML  Sudha  NLP
7   Sudha   DL  Sudha  NLP
8   Sudha   ML  Sudha  NLP
9   Sudha   DL  Sudha  NLP
10  Sudha   ML  Sudha  NLP

In [99]:
d1.value_counts().sort_values()

Name   Flag
Divya  DL      2
       ML      3
Sudha  DL      3
       ML      3
dtype: int64

In [101]:
df3=pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")
df3

[       Season   Age                                     Tm  \
 0     2008-09  19.0  Did Not PlayÂ (other pro leagueâ€”Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15    2021-22  32.0                                    TOT
 16    2021-22  32.0                                    LAC
 17    2021-22  32.0                                    MIL
 18     Career   NaN                                    NaN
 19        NaN   NaN                                    NaN
 20  7 seasons   NaN                                    OKC
 21  4 seasons   NaN                                    TOR
 22  2 seasons   NaN                                    LAC
 23   1 season   NaN                                    ORL
 24   1 season   NaN                                    MIL

                                        Lg  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NBA
 17                                    NBA
 18                                    NBA
 19                                    NaN
 20                                    NBA
 21                                    NBA
 22                                    NBA
 23                                    NBA
 24                                    NBA

                                       Pos  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                   C,PF
 16                                      C
 17                                     PF
 18                                    NaN
 19                                    NaN
 20                                    NaN
 21                                    NaN
 22                                    NaN
 23                                    NaN
 24                                    NaN

                                         G  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                     54
 16                                     35
 17                                     19
 18                                    903
 19                                    NaN
 20                                    524
 21                                    228
 22                                     76
 23                                     56
 24                                     19

                                        GS  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                     12
 16                                     10
 17                                      2
 18                                    697
 19                                    NaN
 20                                    413
 21                                    177
 22                                     49
 23                                     56
 24                                      2

                                        MP  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   16.2
 16                                   15.4
 17                                   17.8
 18                                   27.6
 19                                    NaN
 20                                   28.8
 21                                   27.6
 22                                   19.6
 23                                   30.5
 24                                   17.8

                                        FG  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    2.7
 16                                    2.7
 17                                    2.8
 18                                    5.0
 19                                    NaN
 20                                    4.9
 21                                    5.8
 22                                    3.7
 23                                    6.1
 24                                    2.8

                                       FGA  ...  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)  ...
 1                                     5.1  ...
 2                                     7.5  ...
 3                                     7.4  ...
 4                                     9.7  ...
 5                                    12.1  ...
 6                                    12.3  ...
 7                                    11.1  ...
 8                                    12.4  ...
 9                                    12.6  ...
 10                                   12.1  ...
 11                                   10.3  ...
 12                                   11.9  ...
 13                                   12.2  ...
 14                                    8.9  ...
 15                                    5.5  ...
 16                                    5.5  ...
 17                                    5.5  ...
 18                                    9.8  ...
 19                                    NaN  ...
 20                                    9.3  ...
 21                                   11.4  ...
 22                                    7.3  ...
 23                                   12.6  ...
 24                                    5.5  ...

                                       FT%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .727
 16                                   .690
 17                                   .800
 18                                   .758
 19                                    NaN
 20                                   .745
 21                                   .768
 22                                   .768
 23                                   .846
 24                                   .800

                                       ORB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    1.1
 16                                    1.1
 17                                    1.2
 18                                    2.1
 19                                    NaN
 20                                    2.4
 21                                    1.7
 22                                    1.5
 23                                    1.8
 24                                    1.2

                                       DRB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3
 12                                    6.0
 13                                    6.1
 14                                    4.9
 15                                    3.5
 16                                    3.1
 17                                    4.1
 18                                    5.1
 19                                    NaN
 20                                    5.0
 21                                    5.7
 22                                    4.1
 23                                    5.0
 24                                    4.1

                                       TRB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     5.4
 2                                     7.6
 3                                     7.5
 4                                     7.7
 5                                     8.8
 6                                     7.8
 7                                     6.8
 8                                     6.8
 9                                     6.8
 10                                    6.8
 11                                    6.3
 12                                    8.1
 13                                    8.2
 14                                    6.7
 15                                    4.6
 16                                    4.3
 17                                    5.3
 18                                    7.2
 19                                    NaN
 20                                    7.4
 21                                    7.4
 22                                    5.6
 23                                    6.8
 24                                    5.3

                                       AST  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.1
 2                                     0.3
 3                                     0.4
 4                                     0.5
 5                                     1.0
 6                                     0.9
 7                                     0.8
 8                                     0.9
 9                                     1.1
 10                                    0.7
 11                                    0.8
 12                                    1.3
 13                                    1.4
 14                                    1.8
 15                                    0.9
 16                                    1.0
 17                                    0.7
 18                                    0.8
 19                                    NaN
 20                                    0.6
 21                                    1.1
 22                                    1.4
 23                                    1.1
 24                                    0.7

                                       STL  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.3
 2                                     0.4
 3                                     0.5
 4                                     0.4
 5                                     0.5
 6                                     0.5
 7                                     0.5
 8                                     0.5
 9                                     0.6
 10                                    0.3
 11                                    0.4
 12                                    0.4
 13                                    0.5
 14                                    0.2
 15                                    0.2
 16                                    0.2
 17                                    0.2
 18                                    0.4
 19                                    NaN
 20                                    0.4
 21                                    0.4
 22                                    0.2
 23                                    0.6
 24                                    0.2

                                       BLK  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.3
 2                                     2.4
 3                                     3.7
 4                                     3.0
 5                                     2.7
 6                                     2.4
 7                                     1.9
 8                                     1.6
 9                                     1.6
 10                                    1.4
 11                                    1.3
 12                                    1.4
 13                                    0.8
 14                                    1.1
 15                                    0.6
 16                                    0.7
 17                                    0.4
 18                                    1.9
 19                                    NaN
 20                                    2.5
 21                                    1.2
 22                                    1.0
 23                                    1.6
 24                                    0.4

                                       TOV  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.9
 2                                     0.9
 3                                     1.2
 4                                     1.6
 5                                     1.5
 6                                     1.5
 7                                     1.4
 8                                     1.3
 9                                     1.2
 10                                    1.7
 11                                    1.2
 12                                    1.5
 13                                    2.0
 14                                    1.1
 15                                    0.8
 16                                    0.9
 17                                    0.5
 18                                    1.3
 19                                    NaN
 20                                    1.3
 21                                    1.5
 22                                    1.0
 23                                    1.2
 24                                    0.5

                                        PF  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.7
 2                                     3.3
 3                                     2.7
 4                                     2.7
 5                                     2.9
 6                                     3.0
 7                                     2.7
 8                                     2.7
 9                                     2.5
 10                                    3.3
 11                                    2.8
 12                                    2.9
 13                                    2.8
 14                                    1.9
 15                                    1.9
 16                                    1.6
 17                                    2.4
 18                                    2.7
 19                                    NaN
 20                                    2.8
 21                                    2.8
 22                                    1.7
 23                                    2.5
 24                                    2.4

                                       PTS
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     6.3
 2                                     9.9
 3                                     9.1
 4                                    13.2

In [102]:
type(df3)

list

In [103]:
len(df3)

6

In [104]:
df3[0]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),...,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2
5,2013-14,24.0,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,.784,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1
6,2014-15,25.0,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,.836,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3
7,2015-16,26.0,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,.752,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6
8,2016-17,27.0,TOT,NBA,PF,79,79,30.7,6.0,12.4,...,.856,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8
9,2016-17,27.0,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
10,2016-17,27.0,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,.882,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2
11,2017-18,28.0,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,.797,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6
12,2018-19,29.0,TOR,NBA,C,74,51,27.2,6.3,11.9,...,.763,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0
13,2019-20,30.0,TOR,NBA,C,55,27,27.0,6.2,12.2,...,.718,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4
14,2020-21,31.0,LAC,NBA,C,41,39,23.3,4.5,8.9,...,.811,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1
15,2021-22,32.0,TOT,NBA,"C,PF",54,12,16.2,2.7,5.5,...,.727,1.1,3.5,4.6,0.9,0.2,0.6,0.8,1.9,6.8
16,2021-22,32.0,LAC,NBA,C,35,10,15.4,2.7,5.5,...,.690,1.1,3.1,4.3,1.0,0.2,0.7,0.9,1.6,6.6
17,2021-22,32.0,MIL,NBA,PF,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0
18,Career,NaN,NaN,NBA,NaN,903,697,27.6,5.0,9.8,...,.758,2.1,5.1,7.2,0.8,0.4,1.9,1.3,2.7,12.1
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7 seasons,NaN,OKC,NBA,NaN,524,413,28.8,4.9,9.3,...,.745,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6
21,4 seasons,NaN,TOR,NBA,NaN,228,177,27.6,5.8,11.4,...,.768,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2
22,2 seasons,NaN,LAC,NBA,NaN,76,49,19.6,3.7,7.3,...,.768,1.5,4.1,5.6,1.4,0.2,1.0,1.0,1.7,9.0
23,1 season,NaN,ORL,NBA,NaN,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
24,1 season,NaN,MIL,NBA,NaN,19,2,17.8,2.8,5.5,...,.800,1.2,4.1,5.3,0.7,0.2,0.4,0.5,2.4,7.0

In [ ]:
#df3[3].to_csv("Players_data.csv") #saving it as csv file

In [ ]:
#html_data=pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")
#for i in range(len(html_data)):
#    html_data[i].to_csv(f'html_data{i}.csv',index=False)

In [105]:
data=pd.read_csv('D:/PG DS - Machine Learning/E-Books From LMS/Demo Datasets/Lesson 4/train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [106]:
s = """{
"Name" : "Divya",
"Phone_num" : 1234567889,
"Languages_known" : ["English","Kannada","Telugu","Tamil","Hindi"]
}
"""

In [107]:
import json #javascript object notation(JSON)

In [108]:
s1=json.loads(s) #check whether the data is in json format use online json viewer
s1

{'Name': 'Divya',
 'Phone_num': 1234567889,
 'Languages_known': ['English', 'Kannada', 'Telugu', 'Tamil', 'Hindi']}

In [109]:
pd.DataFrame(s1)

    Name   Phone_num Languages_known
0  Divya  1234567889         English
1  Divya  1234567889         Kannada
2  Divya  1234567889          Telugu
3  Divya  1234567889           Tamil
4  Divya  1234567889           Hindi

In [110]:
pd.DataFrame(s1,columns=['Languages_known'])

  Languages_known
0         English
1         Kannada
2          Telugu
3           Tamil
4           Hindi

In [111]:
import requests

In [112]:
res=requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [113]:
res

In [114]:
js=res.json()
js

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46883',
  'id': 1216892510,
  'node_id': 'PR_kwDOAA0YD8422cbB',
  'number': 46883,
  'title': 'DOC: GH27557 Updates Python support documentation to match NumPy NEP 29',
  'user': {'login': 'JosephParampathu',
   'id': 88171669,
   'node_id': 'MDQ6VXNlcjg4MTcxNjY5',
   'avatar_url': 'https://avatars.githubusercontent.com/u/88171669?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/JosephParampathu',
   'html_url': 'https://github.com/JosephParampathu',
   'followers_url': 'https://api.github.com/users/JosephParampathu/followers',
   'following_url': 'https://api.github.com/users/JosephParampathu/following{/other_user}',
   'gists_url': 'https://api.github.com/users/JosephParampathu/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/JosephParampathu/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/JosephParampathu/subscriptions',
   'organizations_url': 'https://api.github.com/users/JosephParampathu/orgs',
   'repos_url': 'https://api.github.com/users/JosephParampathu/repos',
   'events_url': 'https://api.github.com/users/JosephParampathu/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/JosephParampathu/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-04-27T07:02:56Z',
  'updated_at': '2022-04-27T07:02:56Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46883',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46883',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46883.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46883.patch',
   'merged_at': None},
  'body': '- [x] closes [#27557](https://github.com/pandas-dev/pandas/issues/27557)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nThis updates the documentation for Python support to match NEP 29, and includes a link to NEP 29. The change is at line 410 of docs/development/policies.html.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46882',
  'id': 1216819051,
  'node_id': 'I_kwDOAA0YD85Ihy9r',
  'number': 46882,
  'title': 'ENH: allow preserving one of the indexes when merging two DataFrames',
  'user': {'login': 'multimeric',
   'id': 5019367,
   'node_id': 'MDQ6VXNlcjUwMTkzNjc=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/5019367?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/multimeric',
   'html_url': 'https://github.com/multimeric',
   'followers_url': 'https://api.github.com/users/multimeric/followers',
   'following_url': 'https://api.github.com/users/multimeric/following{/other_user}',
   'gists_url': 'https://api.github.com/users/multimeric/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/multimeric/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/multimeric/subscriptions',
   'organizations_url': 'https://api.github.com/users/multimeric/orgs',
   'repos_url': 'https://api.github.com/users/multimeric/repos',
   'events_url': 'https://api.github.com/users/multimeric/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/multimeric/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-04-27T05:32:29Z',
  'updated_at': '2022-04-27T05:32:29Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Is your feature request related to a problem?\r\n\r\nI want to be able to merge two DataFrames, but keep the index of the left one in the final result:\r\n\r\n```python\r\n>>> import pandas as pd\r\n>>> import string\r\n>>> df1 = pd.DataFrame({"a": range(5), "b": range(10, 15)}, index=list(string.ascii_lowercase[:5]))\r\n>>> df2 = pd.DataFrame({"a": range(5), "c": list(string.ascii_uppercase[:5])})\r\n>>> df1\r\n   a   b\r\na  0  10\r\nb  1  11\r\nc  2  12\r\nd  3  13\r\ne  4  14\r\n>>> df2\r\n   a  c\r\n0  0  A\r\n1  1  B\r\n2  2  C\r\n3  3  D\r\n4  4  E\r\n```\r\nThe current merge behaviour is to just drop the index entirely:\r\n```python\r\n>>> df1.merge(df2, on="a")\r\n   a   b  c\r\n0  0  10  A\r\n1  1  11  B\r\n2  2  12  C\r\n3  3  13  D\r\n4  4  14  E\r\n```\r\n\r\n#### Describe the solution you\'d like\r\n\r\nWe add a new parameter `preserve_index` to `merge`, which takes either `"left"`, `"right"`, or `None`\r\n\r\n`DataFrame.merge(preserve_index="left")`\r\n\r\nIn my above example, this would work like:\r\n```python\r\n>>> df1.merge(df2, on="a", preserve_index="left")\r\n   a   b  c\r\na  0  10  A\r\nb  1  11  B\r\nc  2  12  C\r\nd  3  13  D\r\ne  4  14  E\r\n```\r\n\r\n#### API breaking implications\r\n\r\nNone. This is a new parameter, and if it is not provided the API is identical.\r\n\r\n#### Describe alternatives you\'ve considered\r\n\r\nIt is already possible to work around this by resetting the index and then setting it as an index again, [as described here](https://stackoverflow.com/a/11982843/2148718) but this is:\r\n* More verbose\r\n* Not intuitive or clear to users (hence the StackOverflow question\'s popularity)\r\n* Probably less efficient\r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46882/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46881',
  'id': 1216744750,
  'node_id': 'PR_kwDOAA0YD84218zD',
  'number': 46881,
  'title': 'Backport PR #45247 on branch 1.4.x (PERF: find_stack_level)',
  'user': {'login': 'meeseeksmachine',
   'id': 39504233,
   'node_id': 'MDQ6VXNlcjM5NTA0MjMz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/39504233?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/meeseeksmachine',
   'html_url': 'https://github.com/meeseeksmachine',
   'followers_url': 'https://api.github.com/users/meeseeksmachine/followers',
   'following_url': 'https://api.github.com/users/meeseeksmachine/following{/other_user}',
   'gists_url': 'https://api.github.com/users/meeseeksmachine/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/meeseeksmachine/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/meeseeksmachine/subscriptions',
   'organizations_url': 'https://api.github.com/users/meeseeksmachine/orgs',
   'repos_url': 'https://api.github.com/users/meeseeksmachine/repos',
   'events_url': 'https://api.github.com/users/meeseeksmachine/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/meeseeksmachine/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/92',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/92',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/92/labels',
   'id': 7530006,
   'node_id': 'MI_kwDOAA0YD84AcuYW',
   'number': 92,
   'title': '1.5',
   'description': '',
   'creator': {'login': 'jreback',
    'id': 953992,
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'avatar_url': 'https://avatars.githubusercontent.com/u/953992?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jreback',
    'html_url': 'https://github.com/jreback',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 79,
   'closed_issues': 690,
   'state': 'open',
   'created_at': '2021-12-31T21:51:13Z',
   'updated_at': '2022-04-27T03:46:00Z',
   'due_on': '2022-06-30T07:00:00Z',
   'closed_at': None},
  'comments': 1,
  'created_at': '2022-04-27T03:45:59Z',
  'updated_at': '2022-04-27T03:47:06Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46881',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46881',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46881.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46881.patch',
   'merged_at': None},
  'body': 'Backport PR #45247: PERF: find_stack_level',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46881/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46880',
  'id': 1216596831,
  'node_id': 'PR_kwDOAA0YD8421ddq',
  'number': 46880,
  'title': 'REF: libhashtable.mode support mask',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-04-26T23:32:51Z',
  'updated_at': '2022-04-27T01:39:06Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46880',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46880',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46880.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46880.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46880/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46879',
  'id': 1216420925,
  'node_id': 'PR_kwDOAA0YD84203MB',
  'number': 46879,
  'title': 'Merge nonstring columns',
  'user': {'login': 'ericman93',
   'id': 5768348,
   'node_id': 'MDQ6VXNlcjU3NjgzNDg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/5768348?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ericman93',
   'html_url': 'https://github.com/ericman93',
   'followers_url': 'https://api.github.com/users/ericman93/followers',
   'following_url': 'https://api.github.com/users/ericman93/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ericman93/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ericman93/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ericman93/subscriptions',
   'organizations_url': 'https://api.github.com/users/ericman93/orgs',
   'repos_url': 'https://api.github.com/users/ericman93/repos',
   'events_url': 'https://api.github.com/users/ericman93/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ericman93/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-04-26T20:05:57Z',
  'updated_at': '2022-04-26T23:16:06Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46879',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46879',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46879.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46879.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [X] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [X] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46879/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46878',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46878/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46878/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46878/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46878',
  'id': 1216314477,
  'node_id': 'PR_kwDOAA0YD8420gmo',
  'number': 46878,
  'title': 'PERF: use C version of np.empty',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',

In [115]:
js[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/46883',
 'id': 1216892510,
 'node_id': 'PR_kwDOAA0YD8422cbB',
 'number': 46883,
 'title': 'DOC: GH27557 Updates Python support documentation to match NumPy NEP 29',
 'user': {'login': 'JosephParampathu',
  'id': 88171669,
  'node_id': 'MDQ6VXNlcjg4MTcxNjY5',
  'avatar_url': 'https://avatars.githubusercontent.com/u/88171669?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/JosephParampathu',
  'html_url': 'https://github.com/JosephParampathu',
  'followers_url': 'https://api.github.com/users/JosephParampathu/followers',
  'following_url': 'https://api.github.com/users/JosephParampathu/following{/other_user}',
  'gists_url': 'https://api.github.com/users/JosephParampathu/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/JosephParampathu/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/JosephParampathu/subscriptions',
  'organizations_url': 'https://api.github.com/users/JosephParampathu/orgs',
  'repos_url': 'https://api.github.com/users/JosephParampathu/repos',
  'events_url': 'https://api.github.com/users/JosephParampathu/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/JosephParampathu/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-04-27T07:02:56Z',
 'updated_at': '2022-04-27T07:02:56Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46883',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46883',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/46883.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/46883.patch',
  'merged_at': None},
 'body': '- [x] closes [#27557](https://github.com/pandas-dev/pandas/issues/27557)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nThis updates the documentation for Python support to match NEP 29, and includes a link to NEP 29. The change is at line 410 of docs/development/policies.html.',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46883/timeline',
 'performed_via_github_app': None}

In [116]:
js[0]['title']

'DOC: GH27557 Updates Python support documentation to match NumPy NEP 29'

In [117]:
for i in range(len(js)):
    print(js[i]['title'])

DOC: GH27557 Updates Python support documentation to match NumPy NEP 29
ENH: allow preserving one of the indexes when merging two DataFrames
Backport PR #45247 on branch 1.4.x (PERF: find_stack_level)
REF: libhashtable.mode support mask
Merge nonstring columns
PERF: use C version of np.empty
BUG: `pd.date_range` not factoring in `nanoseconds` in `freq`
BUG: pd.read_sql returns wrong columns name for specific query
BUG: extra row created when calling to_excel for multi-index columns
BUG: Error when exporting an empty DataFrame with MultiIndex to xlsx file
BUG: DataFrame.select_dtypes(include='number') includes BooleanDtype columns
BUG: SettingWithCopyWarning
ENH: Dataframe constructor and DataFrame.from_records shoudl allow specifying column dtypes
BUG: groupby.transform with execution engine numba does not work in multiindex case since 1.3
STYLE replace flake8-rst with something maintained
BUG: duplicated() returns different results on consecutive runs!
BUG: `to_parquet` failing for integer-like string values in categorical column
BUG: Raise error when expr does not evaluate to bool in df.query
BUG: Series.map is ignoring the na_action keyword
ENH: Support multiple instances of styler object
convert_dtypes need support convert string with nan to int .
TST: Fix xfail for git component of `pd.show_version` tests on 32 bit builds
Add more overflow tests for timedelta64 operations
DEPR: numeric_only default on DataFrame ops
BUG: strftime can give incorrect answers
Update join docs for other param
BUG: not able to convert non-zero padded hour to timestamp.
BUG: Segfault when printing dataframe
REF: implement utc_val_to_local_val
Try to fix groupby_valuecount

In [ ]:
for i in range(len(js)):
    print(js[i]['node_id'])

In [124]:
df4=pd.DataFrame(js)
df4.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46883,1216892510,PR_kwDOAA0YD8422cbB,46883,DOC: GH27557 Updates Python support documentat...,...,2022-04-27T07:02:56Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes [#27557](https://github.com/panda...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46882,1216819051,I_kwDOAA0YD85Ihy9r,46882,ENH: allow preserving one of the indexes when ...,...,2022-04-27T05:32:29Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46881,1216744750,PR_kwDOAA0YD84218zD,46881,Backport PR #45247 on branch 1.4.x (PERF: find...,...,2022-04-27T03:47:06Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Backport PR #45247: PERF: find_stack_level,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46880,1216596831,PR_kwDOAA0YD8421ddq,46880,REF: libhashtable.mode support mask,...,2022-04-27T01:39:06Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46879,1216420925,PR_kwDOAA0YD84203MB,46879,Merge nonstring columns,...,2022-04-26T23:16:06Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [126]:
df4.to_csv('Json_data.csv')

In [135]:
l=[]
for i in range(len(js)):
    l.append(js[i]['user'])

df5=pd.DataFrame(l)
df5.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,JosephParampathu,88171669,MDQ6VXNlcjg4MTcxNjY5,https://avatars.githubusercontent.com/u/881716...,,https://api.github.com/users/JosephParampathu,https://github.com/JosephParampathu,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,User,False
1,multimeric,5019367,MDQ6VXNlcjUwMTkzNjc=,https://avatars.githubusercontent.com/u/501936...,,https://api.github.com/users/multimeric,https://github.com/multimeric,https://api.github.com/users/multimeric/followers,https://api.github.com/users/multimeric/follow...,https://api.github.com/users/multimeric/gists{...,https://api.github.com/users/multimeric/starre...,https://api.github.com/users/multimeric/subscr...,https://api.github.com/users/multimeric/orgs,https://api.github.com/users/multimeric/repos,https://api.github.com/users/multimeric/events...,https://api.github.com/users/multimeric/receiv...,User,False
2,meeseeksmachine,39504233,MDQ6VXNlcjM5NTA0MjMz,https://avatars.githubusercontent.com/u/395042...,,https://api.github.com/users/meeseeksmachine,https://github.com/meeseeksmachine,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/g...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/orgs,https://api.github.com/users/meeseeksmachine/r...,https://api.github.com/users/meeseeksmachine/e...,https://api.github.com/users/meeseeksmachine/r...,User,False
3,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,ericman93,5768348,MDQ6VXNlcjU3NjgzNDg=,https://avatars.githubusercontent.com/u/576834...,,https://api.github.com/users/ericman93,https://github.com/ericman93,https://api.github.com/users/ericman93/followers,https://api.github.com/users/ericman93/followi...,https://api.github.com/users/ericman93/gists{/...,https://api.github.com/users/ericman93/starred...,https://api.github.com/users/ericman93/subscri...,https://api.github.com/users/ericman93/orgs,https://api.github.com/users/ericman93/repos,https://api.github.com/users/ericman93/events{...,https://api.github.com/users/ericman93/receive...,User,False

In [136]:
#alternate approach
json_data=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')
df6=pd.DataFrame.from_records(json_data['user'])
df6.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,JosephParampathu,88171669,MDQ6VXNlcjg4MTcxNjY5,https://avatars.githubusercontent.com/u/881716...,,https://api.github.com/users/JosephParampathu,https://github.com/JosephParampathu,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,https://api.github.com/users/JosephParampathu/...,User,False
1,multimeric,5019367,MDQ6VXNlcjUwMTkzNjc=,https://avatars.githubusercontent.com/u/501936...,,https://api.github.com/users/multimeric,https://github.com/multimeric,https://api.github.com/users/multimeric/followers,https://api.github.com/users/multimeric/follow...,https://api.github.com/users/multimeric/gists{...,https://api.github.com/users/multimeric/starre...,https://api.github.com/users/multimeric/subscr...,https://api.github.com/users/multimeric/orgs,https://api.github.com/users/multimeric/repos,https://api.github.com/users/multimeric/events...,https://api.github.com/users/multimeric/receiv...,User,False
2,meeseeksmachine,39504233,MDQ6VXNlcjM5NTA0MjMz,https://avatars.githubusercontent.com/u/395042...,,https://api.github.com/users/meeseeksmachine,https://github.com/meeseeksmachine,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/g...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/orgs,https://api.github.com/users/meeseeksmachine/r...,https://api.github.com/users/meeseeksmachine/e...,https://api.github.com/users/meeseeksmachine/r...,User,False
3,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,ericman93,5768348,MDQ6VXNlcjU3NjgzNDg=,https://avatars.githubusercontent.com/u/576834...,,https://api.github.com/users/ericman93,https://github.com/ericman93,https://api.github.com/users/ericman93/followers,https://api.github.com/users/ericman93/followi...,https://api.github.com/users/ericman93/gists{/...,https://api.github.com/users/ericman93/starred...,https://api.github.com/users/ericman93/subscri...,https://api.github.com/users/ericman93/orgs,https://api.github.com/users/ericman93/repos,https://api.github.com/users/ericman93/events{...,https://api.github.com/users/ericman93/receive...,User,False

In [3]:
form_file=pd.read_csv(r'C:\Users\Divya J\html_data1.csv')

In [140]:
form_file.to_pickle("my_pickel")

In [4]:
h5_data=pd.HDFStore('test.h5') #just instance of a file is created here

In [5]:
h5_data['obj1']=form_file #calling h5_data and creating a new column/instance and storing all the data in form_file

D:\DivyaPython\lib\site-packages\IPython\core\interactiveshell.py:3444: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['Season', 'Tm', 'Lg', 'Pos'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
h5_data['obj1'] #checking

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,25.5,3.3,5.8,...,0.700,2.2,4.3,6.5,0.3,0.3,2.0,1.0,3.2,7.8
1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,28.8,3.9,8.5,...,0.825,2.8,4.5,7.3,0.2,0.2,3.1,1.2,3.8,9.8
2,2011-12,22.0,OKC,NBA,PF,20.0,20.0,28.5,4.2,8.0,...,0.722,2.4,3.4,5.8,0.6,0.6,3.0,0.6,2.9,9.8
3,2012-13,23.0,OKC,NBA,PF,11.0,11.0,33.3,5.4,12.3,...,0.792,3.5,4.8,8.4,0.7,0.0,3.0,0.6,3.5,12.8
4,2013-14,24.0,OKC,NBA,PF,17.0,17.0,34.2,5.1,8.6,...,0.765,1.8,5.0,6.8,0.7,0.6,2.5,1.2,3.2,12.1
5,2015-16,26.0,OKC,NBA,PF,18.0,18.0,33.4,4.7,9.1,...,0.750,1.3,5.0,6.3,0.6,0.8,1.3,0.5,2.8,12.0
6,2016-17,27.0,TOR,NBA,PF,10.0,10.0,30.7,6.0,13.0,...,0.846,0.9,5.6,6.5,1.4,0.4,1.7,1.1,3.7,14.3
7,2017-18,28.0,TOR,NBA,PF,10.0,9.0,26.0,3.0,7.2,...,0.818,1.3,4.6,5.9,1.1,0.1,1.3,1.6,2.1,8.7
8,2018-19,29.0,TOR,NBA,C,24.0,0.0,20.8,3.8,8.0,...,0.762,1.5,4.5,6.0,0.9,0.5,1.0,1.0,3.3,9.4
9,2019-20,30.0,TOR,NBA,C,11.0,0.0,22.8,5.7,10.0,...,1.000,1.5,6.2,7.7,1.2,0.2,1.3,1.1,2.5,14.8
10,2020-21,31.0,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0
11,2021-22,32.0,MIL,NBA,PF,3.0,0.0,4.0,1.3,3.0,...,0.500,0.7,2.0,2.7,0.0,0.0,0.0,0.3,0.3,3.0
12,Career,NaN,NaN,NBA,NaN,149.0,102.0,27.6,4.4,8.8,...,0.789,1.9,4.6,6.5,0.7,0.4,2.0,0.9,3.0,10.8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,31.0,4.5,8.8,...,0.768,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9
15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,24.0,4.5,9.2,...,0.824,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2
16,1 season,NaN,MIL,NBA,NaN,3.0,0.0,4.0,1.3,3.0,...,0.500,0.7,2.0,2.7,0.0,0.0,0.0,0.3,0.3,3.0
17,1 season,NaN,LAC,NBA,NaN,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0

In [8]:
h5_data.put('obj2',form_file,format='table')

In [13]:
h5_data.select('obj2',where=['index>=10 and index<=15'])

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
10,2020-21,31.0,LAC,NBA,C,2.0,0.0,9.0,1.5,3.0,...,1.000,0.5,1.5,2.0,1.0,0.5,1.5,0.5,0.5,5.0
11,2021-22,32.0,MIL,NBA,PF,3.0,0.0,4.0,1.3,3.0,...,0.500,0.7,2.0,2.7,0.0,0.0,0.0,0.3,0.3,3.0
12,Career,NaN,NaN,NBA,NaN,149.0,102.0,27.6,4.4,8.8,...,0.789,1.9,4.6,6.5,0.7,0.4,2.0,0.9,3.0,10.8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6 seasons,NaN,OKC,NBA,NaN,89.0,83.0,31.0,4.5,8.8,...,0.768,2.2,4.5,6.7,0.5,0.5,2.5,0.8,3.2,10.9
15,4 seasons,NaN,TOR,NBA,NaN,55.0,19.0,24.0,4.5,9.2,...,0.824,1.3,5.1,6.4,1.1,0.3,1.2,1.2,3.0,11.2

In [70]:
data=pd.read_csv('D:/PG DS - Machine Learning/E-Books From LMS/Demo Datasets/Lesson 4/train.csv')

In [72]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [73]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [74]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [75]:
data.dtypes=='object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [76]:
data.dtypes[data.dtypes=='object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [77]:
data.dtypes[data.dtypes=='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [78]:
df1=data[data.dtypes[data.dtypes=='object'].index]#passing the list into dataframe

In [79]:
df1.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [80]:
data[data.dtypes[data.dtypes=='float64'].index].head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [81]:
data['Name'] #series is just like a list operation

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [82]:
data['Name'][5]

'Moran, Mr. James'

In [83]:
data['Name'][0:11:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [84]:
sorted(data['Ticket'])

['110152',
 '110152',
 '110152',
 '110413',
 '110413',
 '110413',
 '110465',
 '110465',
 '110564',
 '110813',
 '111240',
 '111320',
 '111361',
 '111361',
 '111369',
 '111426',
 '111427',
 '111428',
 '112050',
 '112052',
 '112053',
 '112058',
 '112059',
 '112277',
 '112379',
 '113028',
 '113043',
 '113050',
 '113051',
 '113055',
 '113056',
 '113059',
 '113501',
 '113503',
 '113505',
 '113505',
 '113509',
 '113510',
 '113514',
 '113572',
 '113572',
 '113760',
 '113760',
 '113760',
 '113760',
 '113767',
 '113773',
 '113776',
 '113776',
 '113781',
 '113781',
 '113781',
 '113781',
 '113783',
 '113784',
 '113786',
 '113787',
 '113788',
 '113789',
 '113789',
 '113792',
 '113794',
 '113796',
 '113798',
 '113798',
 '113800',
 '113803',
 '113803',
 '113804',
 '113806',
 '113806',
 '113807',
 '11668',
 '11668',
 '11751',
 '11751',
 '11752',
 '11753',
 '11755',
 '11765',
 '11767',
 '11767',
 '11769',
 '11771',
 '11774',
 '11813',
 '11967',
 '11967',
 '12233',
 '12460',
 '12749',
 '12749',
 '13049',
 '13213',
 '13214',
 '13502',
 '13502',
 '13502',
 '13507',
 '13507',
 '13509',
 '13567',
 '13568',
 '14311',
 '14312',
 '14313',
 '14973',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '1601',
 '16966',
 '16966',
 '16988',
 '17421',
 '17421',
 '17421',
 '17421',
 '17453',
 '17453',
 '17463',
 '17464',
 '17465',
 '17466',
 '17474',
 '17474',
 '17764',
 '19877',
 '19877',
 '19928',
 '19928',
 '19943',
 '19943',
 '19947',
 '19950',
 '19950',
 '19950',
 '19950',
 '19952',
 '19972',
 '19988',
 '19996',
 '19996',
 '2003',
 '211536',
 '21440',
 '218629',
 '219533',
 '220367',
 '220845',
 '220845',
 '2223',
 '223596',
 '226593',
 '226875',
 '228414',
 '229236',
 '230080',
 '230080',
 '230080',
 '230136',
 '230136',
 '230433',
 '230433',
 '230434',
 '231919',
 '231919',
 '231945',
 '233639',
 '233866',
 '234360',
 '234604',
 '234686',
 '234818',
 '236171',
 '236852',
 '236853',
 '237442',
 '237565',
 '237668',
 '237671',
 '237736',
 '237736',
 '237789',
 '237798',
 '239853',
 '239853',
 '239853',
 '239854',
 '239855',
 '239856',
 '239865',
 '239865',
 '240929',
 '24160',
 '24160',
 '24160',
 '243847',
 '243847',
 '243880',
 '244252',
 '244252',
 '244270',
 '244278',
 '244310',
 '244358',
 '244361',
 '244367',
 '244367',
 '244373',
 '248698',
 '248706',
 '248723',
 '248727',
 '248727',
 '248727',
 '248731',
 '248733',
 '248738',
 '248738',
 '248740',
 '248747',
 '250643',
 '250644',
 '250644',
 '250646',
 '250647',
 '250647',
 '250648',
 '250649',
 '250649',
 '250651',
 '250652',
 '250653',
 '250655',
 '250655',
 '2620',
 '2623',
 '2624',
 '2625',
 '2626',
 '2627',
 '2627',
 '2628',
 '2629',
 '2631',
 '26360',
 '26360',
 '2641',
 '2647',
 '2648',
 '2649',
 '2650',
 '2651',
 '2651',
 '2653',
 '2653',
 '2659',
 '2659',
 '2661',
 '2661',
 '2662',
 '2663',
 '2664',
 '2665',
 '2665',
 '2666',
 '2666',
 '2666',
 '2666',
 '2667',
 '2668',
 '2668',
 '2669',
 '26707',
 '2671',
 '2672',
 '2674',
 '2677',
 '2678',
 '2678',
 '2680',
 '2683',
 '2685',
 '2686',
 '2687',
 '2689',
 '2690',
 '2691',
 '2691',
 '2693',
 '2694',
 '2695',
 '2697',
 '2699',
 '2699',
 '2700',
 '27042',
 '27267',
 '27849',
 '28134',
 '28206',
 '28213',
 '28220',
 '28228',
 '28403',
 '28403',
 '28424',
 '28425',
 '28551',
 '28664',
 '28665',
 '29011',
 '2908',
 '2908',
 '29103',
 '29104',
 '29105',
 '29106',
 '29106',
 '29106',
 '29108',
 '2926',
 '29750',
 '29750',
 '29751',
 '3101264',
 '3101265',
 '3101267',
 '3101276',
 '3101277',
 '3101278',
 '3101278',
 '3101281',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101295',
 '3101296',
 '3101298',
 '31027',
 '31027',
 '31028',
 '312991',
 '312992',
 '312993',
 '31418',
 '315037',
 '315082',
 '315084',
 '315086',
 '315088',
 '315089',
 '315090',
 '315093',
 '315094',
 '315096',
 '315097',
 '315098',
 '315151',
 '315153',
 '323592',
 '323951',
 '324669',
 '330877',
 '330909',
 '330919',
 '330923',
 '330931',
 '330932',
 '330935',
 '330958',
 '330959',
 '330979',
 '330980',
 '334912',
 '335097',
 '335677',
 '33638',
 '336439',
 '3411',
 '341826',
 '34218',
 '342826',
 '343095',
 '343120',
 '343275',
 '343276',
 '345364',
 '345572',
 '345763',
 '345764',
 '345764',
 '345765',
 '345767',
 '345769',
 '345770',
 '345773',
 '345773',
 '345773',
 '345774',
 '345777',
 '345778',
 '345779',
 '345780',
 '345781',
 '345783',
 '3460',
 '347054',
 '347054',
 '347060',
 '347061',
 '347062',
 '347063',
 '347064',
 '347067',
 '347068',
 '347069',
 '347071',
 '347073',
 '347074',
 '347076',
 '347077',
 '347077',
 '347077',
 '347077',
 '347078',
 '347080',
 '347080',
 '347081',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347082',
 '347083',
 '347085',
 '347087',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347088',
 '347089',
 '3474',
 '347464',
 '347466',
 '347468',
 '347470',
 '347742',
 '347742',
 '347742',
 '347743',
 '348121',
 '348123',
 '348124',
 '349201',
 '349203',
 '349204',
 '349205',
 '349206',
 '349207',
 '349208',
 '349209',
 '349210',
 '349212',
 '349213',
 '349214',
 '349215',
 '349216',
 '349217',
 '349218',
 '349219',
 '349221',
 '349222',
 '349223',
 '349224',
 '349225',
 '349227',
 '349228',
 '349231',
 '349233',
 '349234',
 '349236',
 '349237',
 '349237',
 '349239',
 '349240',
 '349241',
 '349242',
 '349243',
 '349244',
 '349245',
 '349246',
 '349247',
 '349248',
 '349249',
 '349251',
 '349252',
 '349253',
 '349254',
 '349256',
 '349257',
 '349909',
 '349909',
 '349909',
 '349909',
 '349910',
 '349912',
 '350025',
 '350026',
 '350029',
 '350034',
 '350035',
 '350036',
 '350042',
 '350043',
 '350046',
 '350047',
 '350048',
 '350050',
 '350052',
 '350060',
 '350404',
 '350406',
 '350407',
 '350417',
 '35273',
 '35273',
 '35273',
 '35281',
 '35281',
 '35851',
 '35852',
 '358585',
 '358585',
 '36209',
 '362316',
 '363291',
 '363291',
 '363291',
 '363294',
 '363592',
 '364498',
 '364499',
 '364500',
 '364506',
 '364511',
 '364512',
 '364516',
 '364516',
 '364846',
 '364848',
 '364849',
 '364849',
 '364850',
 '364851',
 '365222',
 '365226',
 '36568',
 '367226',
 '367226',
 '367228',
 '367229',
 '367230',
 '367230',
 '367231',
 '367232',
 '367655',
 '368323',
 '36864',
 '36865',
 '36866',
 '368703',
 '36928',
 '36928',
 '36947',
 '36947',
 '36963',
 '36967',
 '36973',
 '36973',
 '370129',
 '370129',
 '370365',
 '370365',
 '370369',
 '370370',
 '370371',
 '370372',
 '370373',
 '370375',
 '370376',
 '370377',
 '371060',
 '371110',
 '371110',
 '371110',
 '371362',
 '372622',
 '373450',
 '374746',
 '374887',
 '374910',
 '376564',
 '376564',
 '376566',
 '382649',
 '382651',
 '382652',
 '382652',
 '382652',
 '382652',
 '382652',
 '383121',
 '384461',
 '386525',
 '392091',
 '392092',
 '392096',
 '392096',
 '394140',
 '4133',
 '4133',
 '4133',
 '4133',
 '4134',
 '4135',
 '4136',
 '4137',
 '4138',
 '4579',
 '54636',
 '54636',
 '5727',
 '65303',
 '65304',
 '65306',
 '6563',
 '693',
 '695',
 '7267',
 '7534',
 '7534',
 '7540',
 '7545',
 '7546',
 '7552',
 '7553',
 '7598',
 '8471',
 '8475',
 '9234',
 'A./5. 2152',
 'A./5. 3235',
 'A.5. 11206',
 'A.5. 18509',
 'A/4 45380',
 'A/4 48871',
 'A/4 48871',
 'A/4. 20589',
 'A/4. 34244',
 'A/4. 39886',
 'A/5 21171',
 'A/5 21172',
 'A/5 21173',
 'A/5 21174',
 'A/5 2466',
 'A/5 2817',
 'A/5 3536',
 'A/5 3540',
 'A/5 3594',
 'A/5 3902',
 'A/5. 10482',
 'A/5. 13032',
 'A/5. 2151',
 'A/5. 3336',
 'A/5. 3336',
 'A/5. 3337',
 'A/5. 851',
 'A/S 2816',
 'A4. 54510',
 'C 17369',
 'C 4001',
 'C 7075',
 'C 7076',
 'C 7077',
 'C.A. 17248',
 'C.A. 18723',
 'C.A. 2315',
 'C.A. 2315',
 'C.A. 24579',
 'C.A. 24580',
 'C.A. 2673',
 'C.A. 2673',
 'C.A. 29178',
 'C.A. 29395',
 'C.A. 29566',
 'C.A. 31026',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 31921',
 'C.A. 33111',
 'C.A. 33112',
 'C.A. 33112',
 'C.A. 33595',
 'C.A. 34260',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 34651',
 'C.A. 37671',
 'C.A. 37671',
 'C.A. 5547',
 'C.A. 6212',
 'C.A./SOTON 34068',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA 2144',
 'CA. 2314',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'CA. 2343',
 'F.C. 12750',
 'F.C.C. 13528',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13529',
 'F.C.C. 13531',
 'Fa 265302',
 'LINE',
 'LINE',
 'LINE',
 'LINE',
 'P/PP 3381',
 'P/PP 3381',
 'PC 17318',
 'PC 17473',
 'PC 17474',
 'PC 17475',
 'PC 17476',
 'PC 17477',
 'PC 17477',
 'PC 17482',
 'PC 17483',
 'PC 17485',
 'PC 17485',
 'PC 17558',
 'PC 17558',
 'PC 17569',
 'PC 17569',
 'PC 17572',
 'PC 17572',
 'PC 17572',
 'PC 17582',
 'PC 17582',
 'PC 17582',
 'PC 17585',
 'PC 17590',
 'PC 17592',
 'PC 17593',
 'PC 17593',
 'PC 17595',
 'PC 17596',
 'PC 17597',
 'PC 17599',
 'PC 17600',
 'PC 17601',
 'PC 17603',
 'PC 17604',
 'PC 17604',
 'PC 17605',
 'PC 17608',
 'PC 17608',
 'PC 17609',
 'PC 17610',
 'PC 17611',
 'PC 17611',
 'PC 17612',
 'PC 17754',
 'PC 17755',
 'PC 17755',
 'PC 17755',
 'PC 17756',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17757',
 'PC 17758',
 'PC 17758',
 'PC 17759',
 'PC 17760',
 'PC 17760',
 'PC 17760',
 'PC 17761',
 'PC 17761',
 'PP 4348',
 'PP 9549',
 'PP 9549',
 'S.C./A.4. 23567',
 'S.C./PARIS 2079',
 'S.C./PARIS 2079',
 'S.O./P.P. 3',
 'S.O./P.P. 3',
 'S.O./P.P. 751',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.C. 14879',
 'S.O.P. 1166',
 'S.P. 3464',
 'S.W./PP 752',
 'SC 1748',
 'SC/AH 29037',
 'SC/AH 3085',
 'SC/AH Basle 541',
 'SC/PARIS 2131',
 'SC/PARIS 2133',
 'SC/PARIS 2146',
 'SC/PARIS 2149',
 'SC/PARIS 2167',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2123',
 'SC/Paris 2163',
 'SCO/W 1585',
 'SO/C 14885',
 'SOTON/O.Q. 3101305',
 'SOTON/O.Q. 3101306',
 'SOTON/O.Q. 3101307',
 'SOTON/O.Q. 3101310',
 'SOTON/O.Q. 3101311',
 'SOTON/O.Q. 3101312',
 'SOTON/O.Q. 392078',
 'SOTON/O.Q. 392087',
 'SOTON/O2 3101272',
 'SOTON/O2 3101287',
 'SOTON/OQ 3101316',
 'SOTON/OQ 3101317',
 'SOTON/OQ 392076',
 'SOTON/OQ 392082',
 'SOTON/OQ 392086',
 'SOTON/OQ 392089',
 'SOTON/OQ 392090',
 'STON/O 2. 3101269',
 'STON/O 2. 3101273',
 'STON/O 2. 3101274',
 'STON/O 2. 3101275',
 'STON/O 2. 3101280',
 'STON/O 2. 3101285',
 'STON/O 2. 3101286',
 'STON/O 2. 3101288',
 'STON/O 2. 3101289',
 'STON/O 2. 3101292',
 'STON/O 2. 3101293',
 'STON/O 2. 3101294',
 'STON/O2. 3101271',
 'STON/O2. 3101279',
 'STON/O2. 3101279',
 'STON/O2. 3101282',
 'STON/O2. 3101283',
 'STON/O2. 3101290',
 'SW/PP 751',
 'W./C. 14258',
 'W./C. 14263',
 'W./C. 6607',
 'W./C. 6607',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6608',
 'W./C. 6609',
 'W.E.P. 5734',
 'W/C 14208',
 'WE/P 5735',
 'WE/P 5735']

In [85]:
data[['Ticket']][5:15]

       Ticket
5      330877
6       17463
7      349909
8      347742
9      237736
10    PP 9549
11     113783
12  A/5. 2151
13     347082
14     350406

In [86]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [87]:
for i in data.columns:
    print(data[[i]])

     PassengerId
0              1
1              2
2              3
3              4
4              5
..           ...
886          887
887          888
888          889
889          890
890          891

[891 rows x 1 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]
     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]
                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]
        Sex
0      male
1    female
2    female
3    female
4      male
..      ...
886    male
887  female
888  female
889    male
890    male

[891 rows x 1 columns]
      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]
     SibSp
0        1
1        1
2        0
3        1
4        0
..     ...
886      0
887      0
888      1
889      0
890      0

[891 rows x 1 columns]
     Parch
0        0
1        0
2        0
3        0
4        0
..     ...
886      0
887      0
888      2
889      0
890      0

[891 rows x 1 columns]
               Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
..                ...
886            211536
887            112053
888        W./C. 6607
889            111369
890            370376

[891 rows x 1 columns]
        Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]
    Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
..    ...
886   NaN
887   B42
888   NaN
889  C148
890   NaN

[891 rows x 1 columns]
    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [88]:
#to add new column
data['Divu']="Reddy"

In [89]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Divu
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Reddy
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Reddy
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Reddy
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Reddy
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Reddy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Reddy
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Reddy
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Reddy
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Reddy
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Reddy

In [90]:
data['Divu1']=data['PassengerId']
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Divu,Divu1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Reddy,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Reddy,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Reddy,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Reddy,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Reddy,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Reddy,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Reddy,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Reddy,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Reddy,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Reddy,891

In [93]:
pd.Categorical(data['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [94]:
pd.Categorical(data['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [96]:
pd.Categorical(data['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [98]:
data['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [104]:
data['Pclass'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Pclass, Length: 891, dtype: bool

In [114]:
a=data['Cabin'][data['Cabin'].isnull()==True]

In [125]:
a.index

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  13,  14,
            ...
            878, 880, 881, 882, 883, 884, 885, 886, 888, 890],
           dtype='int64', length=687)

In [126]:
print(len(a.index))

687

In [120]:
data.iloc[a.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Divu,Divu1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Reddy,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Reddy,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Reddy,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Reddy,6
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Reddy,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Reddy,885
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Reddy,886
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Reddy,887
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Reddy,889
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Reddy,891

In [123]:
data.iloc[[0,2,4,6]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Divu,Divu1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Reddy,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Reddy,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Reddy,5
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Reddy,7

In [135]:
data[data['Fare']==max(data['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [177]:
pd.DataFrame(data[data['Fare']==data['Fare'].max()]['Name'])

                                   Name
258                    Ward, Miss. Anna
679  Cardeza, Mr. Thomas Drake Martinez
737              Lesurer, Mr. Gustave J

In [141]:
data['New_column']=data['PassengerId']+data['Age']

In [142]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Divu,Divu1,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Reddy,1,23.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Reddy,2,40.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Reddy,3,29.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Reddy,4,39.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Reddy,5,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Reddy,887,914.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Reddy,888,907.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Reddy,889,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Reddy,890,916.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Reddy,891,923.0

In [148]:
df=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")

In [149]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [150]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [156]:
df1=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt',sep=" ")
df1.head()

          name  calories  sodium  alcohol  cost
0    Budweiser       144      15      4.7  0.43
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77

In [160]:
pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

In [161]:
pd.read_csv('https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv')

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1879,wooldridge,wage1,wage1,526,24,16,0,0,0,24,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1880,wooldridge,wage2,wage2,935,17,4,0,0,0,17,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1881,wooldridge,wagepan,wagepan,4360,44,37,0,0,0,44,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1882,wooldridge,wageprc,wageprc,286,20,0,0,0,0,20,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1883,wooldridge,wine,wine,21,5,0,1,0,0,4,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...